* {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.main_recipes  > h1 {
  font-size: 2rem;
  padding-bottom:2rem;
  border-bottom: 1px solid rgb(100, 116, 139);
}

.main_recipes,
.recipe.content {
  width: 100%;
  max-width: 700px;
  padding: 0em 1em;
  margin: 0rem auto;
}

.main_recipes > * { margin: 2rem 0rem }
section.recipes, .recipe.content > * { line-height: 2.6 }

.recipe.title {
  margin: 0rem;
  padding: 0rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.recipe.content.title {
  margin: 0rem;
  padding: 0rem;
  font-weight: bold;
  font-size: 1.75rem;
  color: rgb(30, 41, 59);
}
.recipe.body {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word;
  color: rgb(30, 41, 59);
}
.recipe.link,
.recipe.content.link {
  word-wrap: break-word;
  color: rgb(30, 41, 59);
  text-decoration: none;
  font-style: italic;
  margin: 0rem;
  padding: 0rem;
}