* {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.main_recipes {
  width: 100%;
  max-width: 700px;
  padding: 0em 1em;
  margin: 0rem auto;
}

.main_recipes > * { margin: 2rem 0rem }
section.recipes > * { line-height: 2.6 }

.recipe.title {
  margin: 0rem;
  padding: 0rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.recipe.body {
  margin: 0rem;
  padding: 0rem;
  font-size: 1rem;
  line-height: 1.5;
  word-wrap: break-word
}